@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: Inter;
  src: url(./assets/Inter-VariableFont_opsz,wght.ttf);
}

@theme {
  --color-orange: #fc8d29;
  --color-light-orange: #ffc09a;
  --color-dark-orange: #ff6e14;
  --color-icon : #bebebe;
}

@layer components {
  .form-input {
    @apply w-90 transition-[border] overflow-hidden flex items-center gap-3 rounded-md border pl-3
    text-sm duration-150 ease-in focus:border-orange;
  }
  
  .form-box {
    @apply top-0 absolute flex flex-col items-start transition-all duration-150 ease-in;
  }

  .nav-list{
    @apply hover:text-orange cursor-pointer transition-colors duration-150 ease-in
  }

  .account-dropdown{
    @apply hover:bg-orange flex items-center gap-2 hover:text-white rounded-md px-2 py-1 cursor-pointer text-sm
  }

  .account-divider{
    @apply text-gray-300 w-[90%] mx-auto bg-gray-300 my-1
  }
}

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.swiper {
  --swiper-pagination-color: #fd7d30;
  /* active dot color */
  --swiper-pagination-bullet-inactive-color: #d1d5db;
  /* inactive color */
  --swiper-pagination-bullet-size: 12px;
  /* size */
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

::-webkit-scrollbar {
  appearance: none;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-orange);
  width: 5px;
  height: 5px;
  border-radius: 10px;
}